node_modules/
*.tgz
*.awcache
env/
*.DS_STORE
*.js
*.txt
*.db
*.py
*.map
*.dvi
*.zip
*.ipynb
.Rdata
*.aux
*.log
*.bbl
*.blg
*.out
*.synctex.gz
old/
README
main.fls
scrap
scrap.tex
.gitattributes
*.pdf
.bin/
.tmp
*.scrap
